.header {
    font-size: 45px;
    color: white;
    text-align: center
}


.search {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 25px;
}

.new-input {
    width: 350px;
    height: 45px;
    font-size: 20px;
}

.btn {
    width: 355px;
    height: 40px;
    background: #5e74d7;
    font-size: 20px;
    font-weight: 500;
   
}

.searchHistory {
    width: 350px;
    height: 45px;
    background-color: #d2cdcd;
    color: black;
    font-size: 20px;
    text-align: center;
    padding:9px
}


.card {
    width: 100%;
}

.output {
    padding-top: 10px;
}

.outputBox {
    height: 300px;
    padding: 10px
}

#temperature,
#windSpeed,
#humidity {
    margin: 15px 2px;
    font-size: 20px;
    font-weight: 700;
}


#forecastTitle {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 800;
}

.container-forecast-cards {
    padding-top: 35px;
}

.cardFc {
    width: 18%;
    Height: 280px;
    padding: 7px 0 0 7px;
    background-color: #3a3a57;
    display: inline-block;
}

.dateFc {
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin: 2px;
}

.tempFc,
.windFc,
.humidityFc {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 20px 2px;
}