.header {
    font-size: 45px;
    color: white;
    text-align: center
}

.search {
    font-size: 30px;
    font-weight: bold;
}

.new-input {
    width: 350px;
    height: 45px;
    font-size: 20px;
}

.btn {
    width: 355px;
    height: 40px;
    background: #5e74d7;
    font-size: 20px;
    font-weight: 500;
    vertical-align: middle;
}

.card {
  width:100%;
}

.output {
    padding-top: 10px;
}

.outputBox {
    height: 300px; 
}